*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.editor{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    padding: 2em;
    border-radius: 3px;
    border: 1px solid black;
}
.editorBody{
    flex: 1;
}
.footer{
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
}
.right{
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}
.btn{
    border: 0;
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: 1px solid black;
    width: 80px;
    cursor: pointer;
}
.console{
    background-color: white;
    width: 100%;
    height: 130px;
    margin-top: 5px;
    border: 1px solid black;
    overflow: auto;
}
.code{
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    background-color: white;
}